.react-tagsinput {
	overflow: hidden;
	padding-left: 5px;
	padding-top: 5px;
	cursor: text;
	border: 1px solid #bdc3c7;
	border-radius: 4px;
	margin-top: 1.5rem;
	box-sizing: border-box;
	
}

.react-tagsinput:hover {
	border-color: #2e4272;
	
}

.react-tagsinput--focused {
	box-shadow: 0 0 0 1pt #2e4272;
}


.react-tagsinput-tag {
	background-color: #2e4272;
	border-radius: 2px;
	border: 1px solid #2e4272;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 5px;
	color: white;
}

.react-tagsinput-remove {
	cursor: pointer;
	font-weight: bold;
}

.react-tagsinput-tag a::before {
	content: " ×";
}

.react-tagsinput-input {
	background: transparent;
	border: 0;
	color: #777;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 6px;
	margin-top: 1px;
	outline: none;
	padding: 5px;
	width: 80px;
	font-family: "Roboto";
	font-size: 1.4rem;
}
